body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
.flex-container{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
     text-align: center;
}
.flex-item-left{
    background-color: #D97EA8;
    padding: 10px;
    flex: 50%;
}
.flex-item-right{
    background-color: #2E3559;
    padding: 10px;
    flex: 50%;
}
@media (max-width: 800px) {
    .flex-container{
        flex-direction: column;
    }    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262840;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: #2E3559;
}
.active{
    background-color:#D97EA8;
}